.idea/
cmake-build-own-bs-praktikum-docker-container/
cmake-build-debug-bs22/
cmake-build-dockerbspraktikum/
cmake-build-bs-praktikum/
cmake-build-debug-dockerubu-bs22/
cmake-build-debug/
cmake-build-docker/
**/.DS_Store
